@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classes personnalisées pour les boutons */
.btn-primary {
    @apply px-4 py-2 bg-navbar text-white font-bold rounded hover:bg-navbar-hover transition;
}

.btn-secondary {
    @apply px-4 py-2 bg-accent text-white rounded hover:bg-cta transition;
}

.glide__arrows button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glide__arrows button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.glide__bullets .glide__bullet {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.glide__bullets .glide__bullet:hover,
.glide__bullets .glide__bullet--active {
    background-color: #049191;
}

.group:hover .group-hover\:block {
    display: block;
}

.dropdown-menu {
    right: 0;
    z-index: 10;
}

.dropdown-button {
    position: relative;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #f3f4f6;
    cursor: pointer;
}
